.vs/
avs/vis_avs/Debug/
avs/vis_avs/Release/
avs_dx/DxVisualsShaders/Debug/
avs_dx/DxVisualsShaders/Release/
Debug/
Release/
packages/
avs_dx/DxVisuals/Effects/shadersCode.cpp
avs_dx/DxVisuals/Effects/shadersCode.h
*.tmp
avs_dx/~$Readme.docx
avs_dx/DxVisuals/Expressions/Builtin/includeFunctions.cpp
avs/vis_avs/res.aps
avs_dx/DxVisuals/Effects/Trans/Blur/KernelValues.cpp